<div class= "container show">


	<h2>Note Details:</h2>
	<span>Written on: <%= @note.date %></span>

	<h2>"<%= @note.title %>"</h2> 
	<%= @note.description %>
	

	<%= link_to "edit", edit_opportunity_note_path %>


</div>