<div class= "container show">

<%= @user.name %>
<%= @user.email  %>

<%= link_to "Delete Account", user_path(@user), method: :delete, data: {confirm: "Hey ya sure you want to do this my friend?!"} %>

</div>