

<% if object.errors.any? %>
<section id="errors">
  <header>
    <h2>
      Oops! Looks like you messed up hommie... 
    </h2>
  </header>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</section>
<% end %>