

/* 
COLORS 
  #50E3C2 greengreen
  #67BCE8 true blue
  #FBC266 faded orange
  #FE8484 faded red
  #FFA672 orange 
  #4FD7E4 primary sz blue
  #36d7b7 bright green

  */

  $brand-color1: #4FD7E4;
  $brand-color2: #f1f1f1;
  $brand-color3: #70E8CD;
  $primary-color: #36d7b7;
  $main-plain: #e8e9e9;
  $table-grey: #f8f8f8;
  $faded-red: #FE8484;
  $faded-green: #36D7B7;
  $faded-orange: #FBC266;
  $true-blue:  #67BCE8;
  $text-color: #7C8A9B;
  $light-text: lighten($text-color, 18%);
  $sz-color-dark: #4fd7e4;
  $shadow-color: rgba(119, 109, 109, 0.31);
  $faded-coral: #E3D1D1;

/* flash & Notice styles*/

.notice {
    background-color: #E8FFCF;
    margin: 0;
    text-align: center;
    padding: 10px;
}
.flash {
    text-align: center;
}

.errors {
    background-color: $table-grey;
    padding: 20px;
    color: $faded-red;
}

.field_with_errors {
    color: $faded-red;
}


.flash {
  

    .notice{
      background-color: green;
    }

    .alert {
      background-color: $faded-red;
    }
}

.flash.alert {
    background-color: $faded-red;
    padding: 10px;
    color: #fff;
}



.flash.warning {
  background-color: $faded-orange;
    padding: 10px;
    color: #fff;
}

.login.flashes {
    text-align: center;
    margin: auto;
}


/* flex containers */

.line, 
ul, 
li.row,
 .container,
 .column,
 .menubar,
 .admin_navbar,
 .addbtn,
 .footer,
 .phaseline.line,
 .logospace,
 .topbar,
 .logobox,
 .loginbox,
 .signin_form,
 p.login.submit,
 .line.action-date,
 .col,

{
	
.plan-box {
    display: flex;
    width: 150px;
    font-size: 1em;
    padding: 45px;
    background-color: #e8e9e9;
    justify-content: center;
    margin: 5px;

 }

.plan-container.line {
    flex-wrap: wrap;
        max-width: 600px;
}



 .plan-box i {
    font-size: 3em;
  }


  display: flex;
	
}

.col {
     
    flex-direction: column;
}

.center {
      align-items: center;
}

/* Form styling */


.line.image {
    padding-right: 15px;
}



.note-info {
	
	span {
   	font-size: .7em;
    color: #FCCB8F;
    font-weight: 400;
    
    padding: 2px;
	}

	h3 {
	color: #FCCB8F;
	font-size: .7em;
	font-weight: 400;
	}
}



p.date {
    display: none;
}

textarea {
    FONT-SIZE: .8em;
    border: .5px solid #e8e9e9;
    min-width: 250px;
    min-height: 100px;
}

.select-style {
    padding: 5px;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
    font-size: 1.3em;
    padding: 5px 8px;
    width: 160%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
  
}








/* The Love list Colors */
$big-pink: #FF617E;
$light-pink: #FFDEDE;



/****************************************
			
			BASE STYLES

****************************************/

body {
	font-size: 1.25em;
	font-family: 'Open Sans', sans-serif;
	color: $text-color;
	background: $main-plain;
	padding-left: 5%;
	padding-right: 5%;
}

body.login {
  
  background-color: $brand_color1;
  padding: 0;
}


.footer {
	width: 100%;
	min-height: 90px;
	background-color: $brand-color1;
	color: #fff;
    font-size: .7em;
	}


a.signin {
    /* align-self: baseline; */
    margin-left: auto;
    padding-right: 35px;
    color: #fff;
    font-size: .9em;
	}

  .signinspace {
    margin-left: auto;
    align-self: center;
    display: flex;
    flex-direction: column;

      .button{
          font-size: .7em;
      }
}

.loginbox {
	
	@include box_shadow;
	
	}

	.loginbox {

	    flex-direction: column;
    	align-items: center;
    	padding: 30px;
    	margin-top: 70px;

	}

	.signin_form {
	    
	    flex-direction: column;
	    max-width: 360px;
	    margin: auto;
}

	div.loginbox img {
    	width: 80px;
}

h2.login.title {
    	font-size: 2.4em;
    	font-weight: 800;
    	color: $brand_color3;
}




h3.login.subtitle {
    font-family: 'caveat', cursive;
    margin-left: 50%;
    margin-top: -20px;
    font-size: 1.7em;
    color: lighten($brand_color1, 20);
}

.login_field {
    padding: 8px 20px;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
}

.login_field::-webkit-input-placeholder {
   color: #B4C0C1;
}

.login_field:-moz-placeholder { /* Firefox 18- */
   color: #B4C0C1;  
}

.login_field::-moz-placeholder {  /* Firefox 19+ */
   color: #B4C0C1;  
}

.login_field:-ms-input-placeholder {  
   color: #B4C0C1;  
}

	
.login_field:focus::-webkit-input-placeholder {
  		transition: opacity ease; 
  		opacity: 0;
}

input.login_button {
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: #FE8A8A;
    border: 0;
    color: #fff;
    margin-top: 20px;
}

    


	.szheart {
	color: $faded-red;
	}



a.logo img {
    max-width: 80px;
    /* max-height: 120px; */
    margin: 20px 20px 20px 40px;
}



h2 span.edit {
    font-size: .5em;
    margin-left: 5px;
    color: $faded-orange;
}

/**********   CONTAINERS  ***********/



/*Main container for all opportunites*/

.big_container {
    margin-top: 45px;
    margin-bottom: 45px;
    background-color: #fff;
}

.container 

{

	background-color: white;
	flex-direction: column;
	padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

			&.stretch{
				padding: 0;
			}
			
	
}

.topbar {
	height: 120px;
	flex-grow: 1;
	color: #000;	
	background-color: $sz-color-dark;

}






/**********   ROWS  ***********/




/* main ul list holds all opportunity content after the topbar header- will display its child items vertically*/
ul {
	flex-direction: column;
}



/* each row is a li item container that holds all info for each opportunity- it also will 
display its child items (lines) vertically - each row will be repeated via an each loop- with a bottom border to seperate each opp*/

li.row  {

	border-bottom: #f1f1f1 1px solid;
	padding-right: 5%;
	padding-left: 5%;
	flex-direction: column;
	
}

/*differnt shades for each row  */

.row:nth-child(2) {

background-color: $table-grey;

}

/* each line reps a row of content that needs to line up side by side */

.line {
	flex-direction: row;
	flex-grow: 1;
	margin-top: 2px;
	margin-bottom: 10px;
	

}

.show.line.engage {
    order: 0;
    font-size: 1.3em;
}


/**********      Column Styling     ***********/

.column {
	padding-left: 3px;
	padding-right: 3px;
}


/**********      Individual ELEMENTS Styling     ***********/


.service_type > icon {
    padding: 15px 0 0 5px;
    color: $light-text;
}

.phase {

	padding: 5px;
	border-radius: 10px;
	color: #fff; 
	font-size: .65em;
	margin-top: 10px;
	
}


.research {

	background-color: #FFA672;
	padding: 5px;
	border-radius: 10px;
	color: #fff; 
	font-size: .65em;
	margin-top: 10px;
	max-height: 17px;
}

.engagement {
	background-color: #FBC266;
	}


.assesment {
	background-color: #FFA672;
	
}



.intake {
  
  	background-color: #67BCE8;
	
}

.proposal {
	background-color:  #FE8484;
	
}

.need {
	background-color:  #7EDDC8;
}



.edit.line {
    margin: 0;
    font-size: 1.2em;
}
   
.menubar {
    height: 40px;
    background-color: #43F4CD;
    justify-content: flex-end;
    align-items: center;


    .addbtn {
	    color: #4fd7e4;
	    font-size: 1.5em;
	    background-color: #fff;
	    width: 15px;
	    height: 15px;
	    border-radius: 50%;
	    align-self: center;
	    align-items: center;
	    padding: 5px;
	    justify-content: center;
	    margin-right: 20px;
	    box-shadow: 1px 2px 4px rgba(0,0,0,0.20);
	}
}

.admin_navbar {
  
   

    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    padding-top: 20px;
    border-bottom: 2px solid rgba(237, 237, 237, 0.37);

}

.navcon {
  
      font-size: 1.8em;
    color: #fff;
    background-color: rgba(163, 160, 157, 0.26);
    width: 65px;
    text-align: center;
    padding: 15px;
    margin: 3px;
}

h2.page_title {
    margin-right: auto;
    #margin-left: 50px;
    #font-size: 1.4em;
    #color: #E7D4D4;
    margin-left: 25px;
    font-size: 1.7em;
    color: #FCCB8F;
}

.engagement-level {

	font-family: 'simple-line-icons';
	margin-left: auto;

}

.icons {

	font-family: 'simple-line-icons';

}

i.fa.fa-twitter-square {
    color: rgba(103,188,232,0.62);
}

i.fa.fa-facebook-square {
    color: rgba(79, 119, 181, 0.67);
}


i.fa.fa-rss-square {
    color: rgba(251, 194, 102, 0.86);
}

.eicon {

	background-color: rgba(124, 138, 155, 0.10);
	padding: 5px;
}

.notes {
	font-size: 1.7em;
	margin-top: -15px;

}


.info {
    color: $light-text;
    font-size: .6em;
    font-weight: 200;
    width: 240px;
}p

.company {
	font-family: 'Open Sans', sans-serif;
	line-height: 32px;
    font-size: 2.3em;
    font-weight: 400;
    color: #7C8A9B;
    
}

.name {
	font-size: 1.4em;
	margin-top: 5px;
	font-weight: 500;
}

.phone {
	font-size: 1.3em;
    margin-top: 2px;
}

.mail:hover {
	color: #67BCE8;

}

.action {
color: #7C8A9B;
font-size: .7em;
width: 140px;
}

.hot {
	color: #FC8181;
}



.profile_pic {
    border-radius: 50%!important;
    max-width: 120px;
    max-height: 120px;
}

.avatar img {
    border-radius: 50%;
    border: 6px solid #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2px;
    margin-right: 20px;
}

.avatar.thumb img {
    max-width: 100px;
}

.avatar.medium img {
    max-width: 300px;
}

.highlighter {

	color: #59D0E6;
	font-size: 1.15em;
	background-color: rgba(124, 138, 155, 0.12);
	padding: 0 5px 0 8px;
	margin-right: 3px;
}

.action-date {
	  background-color: #4fd7e4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;

    span{
    color: #fff;
    }

    span.day {
    font-weight: 700;
    font-size: 1.2em;
    margin-top: -7px;
    padding: 0;
    }

    span.month {
    margin-top: 5px;
    font-size: .7em;
    }
}

.next-action {
  font-weight: 100;
}

.primary-challenge {
	display: none;
}


/****************************************
			Show Page

****************************************/

span.love-words {
    font-size: .8em;
    font-weight: 100;
    font-family: 'caveat', cursive;
    color: rgba(141, 128, 158, 0.52);
}

img.profile-pic.show {
    @include shadow;
}

.line.phase.show {
    margin-top: -30px;
    margin-left: 15px;
    font-size: 1.2em;
}

/****************************************
			
			Desktop STYLES

****************************************/

@media (min-width: 800px) {

li.row {
	flex-direction: row;
}


.line {
	align-items: center;

}

.line.image{
	 	margin-left: 25px;
    	margin-right: 10px;
	}



.line.engage {
    order: 6;

}

.phaseline.line {
    display: flex;
    flex-direction: column;
    align-self: center;
}


.column {
    padding-left: 3px;
    padding-right: 30px;
    padding-top: 20px;
}



.profile_pic {
	    margin-right: 40px;
}

.info {
	    margin-top: 15px;
}

.primary-challenge {
	display: inline;
}

.highlighter {
	font-size: .95em;
  color: $faded-red;
    font-weight: 700;
}

.notes {
 margin-bottom: 15px; 
}

.service_type > icon {
    padding: 0 0 0 0;
    
    
}

}
  

@media (min-width: 1200px) {

body {
    padding-left: 10%;
    padding-right: 10%;
}


}


