 <!-- BEGIN FOOTER -->
        <!-- BEGIN PRE-FOOTER -->
        <div class="footer"> 
        
        <div class="sz-love-sig">Made with <i class="fa fa-heart szheart"></i> by <span>Storysitez</span>

        </div>
        </div>
